
*{
  margin:0;
  padding:0;
  color:white;
}

.logo {
  height:100px;
  width:100px;
  flex-shrink: 0;
  margin-left: 50px;
}
.head{
  
  height: 100px;
}

img{
  height:22px;
  width:22px;
}

.home-img{
  color: white;
 font-size: 33px;
 font-family: Inria Serif;
 font-weight: 700;
 word-wrap: break-word
}

.header-img{
 margin-right: 5px;
}

.container{
  background-color: #000B23;
  color:white;
  display:flex;
  align-items:center;
}

.options{
  margin-left: 550px;
}

.option{
 color: #FFF;
 font-family: Inria Serif;
 font-size: 33px;
 font-style: normal;
 font-weight: 400;
 line-height: normal;
 /* width: 100px; */
 height: 40px;
 flex-shrink: 0;
 margin-right:40px;
 display:flex;
 justify-content: space-evenly;
 align-items: center;
word-wrap: break-word
}

options:hover{
  
}

.hero-section{
  background-image: url("danny-howe-bn-D2bCvpik-unsplash\ copy.jpg"); 
  height:600px;
  background-size: contain;

}

.msg1{
 height:80px;
 width:825px;
 color: white;
 font-size: 73px;
 font-family: Inria Serif;
 font-weight: 700;
 word-wrap: break-word
}
.msg2{
  height:110px;
  width:1006px;
 color: white;
 font-size: 96px;
 font-family: Inria Serif;
 font-weight: 700;
 word-wrap: break-word
}
.hero-msg{
  padding-top: 100px;
  padding-left: 73px;
}

.arrow{
  background-color: #FFFFFF;
  margin-left: 50px;;

}
